<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <h1>
        Products
    </h1>
    <ol>
        <% productDetailsArray.forEach(product => { %>
            <li>
                <%= product.name %>
                <ul>
                    <li>
                        <p>
                            <%= product.productDetails %>
                        </p>
                    </li>
                    <li>
                        <ol type="A">
                            <li><%= product.specifications[0] %></li>
                            <li><%= product.specifications[1] %></li>
                            <li><%= product.specifications[2] %></li>
                        </ol>
                    </li>
                    <li><%= product.price %></li>
                    <li><%= product.quantity %></li>
                </ul>
            </li>
        <% }); %>
    </ol>
</body>
</html>
